
#sliderImageDescription
{
    background: -webkit-linear-gradient(left, #ff5148, #ff3f58); 
    background: -o-linear-gradient(right, #ff5148, #ff3f58);
    background: -moz-linear-gradient(right, #ff5148, #ff3f58);
    background: linear-gradient(to right, #ff5148, #ff3f58);
    float: left;
    height: 427px;
    padding: 18px 15px 0px 15px;
    width: 34.69%;
}
#sliderImageDescription p
{
    font-family:OpenSans;
    font-size: 16px;
    color: #FEFEFE;
    margin-bottom: 17px;
}
#moreRead
{
	font-family:OpenSans;
    font-size: 16px;
    color: #FEFEFE;
    text-decoration: underline;
    -moz-text-decoration-color: #FFA6A1;
    text-decoration-color: #FFA6A1;
}


/*---- side navigation links-----*/
.navLinks
{
  	
  float: left;
  font-family:callibri !important; 
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 8px;
}
.aboutContent
{
	float: left;
	width: 100%;
}
#aboutInstitute
{
	float: left;
	width: 63%;
	margin-top: 22px;
}
#aboutLinks
{
	float: left;
	margin-left: 12px;
	width:35%;
}
#aboutHeading
{
	font-family: callibri;
	color:#FF4252;
	font-size: 28px;
}
#aboutDescription
{
	font-family: callibri;
	color:#6A6A6A;
	font-size: 15px;
	margin-top: 35px;
}
#aboutLinks
{
	margin-top: 22px;

}
#aboutLinks ul
{
	list-style-type: none;
}
#aboutLinks li 
{
	text-decoration: none;
	border-bottom: 1px solid #D5CDC9;
	padding: 10px 0px;
}
#aboutLinks a 
{
	font-family: callibri;
	color:#00A2F6;
	font-size: 15px;
	margin-left: 26px;
	text-decoration: none;
}
#aboutLinks  a:hover
{
	color:#F86F61;
	

}
.sideLinks .arrowImage
{
	visibility: hidden;
}
.sideLinks:hover .arrowImage
{
	visibility: visible;
}
.arrowImage
{
	width:20px;
	height: 10px;
	margin-right: 14px;
	
}
@media only screen and (min-width: 480px) and (max-width: 900px){
    .sliderPicDescription
    {
        width: 32.69% !important;
    }
    .sliderPic
    {
        width: 60% !important;
    }
    #headerMenu
    {
        width: 41%;
    }
    #firstBanner
    {
      padding: 0.5%;
      margin-left: 3%;
    }
    #secondBanner
    {
      padding: 0.5%;
    }
    #thirdBanner
    {
      padding: 0.5%;

    }
    .aboutContent{
    	margin-left: 2%;
    }
    
}