.navLinks
{
  	
  float: left;
  font-family:callibri !important; 
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 8px;
}
.aboutContent
{
	float: left;
	width: 100%;
}
#aboutInstitute
{
	float: left;
	width: 63%;
}
#aboutLinks
{
	float: right;
	width:29%;
}