
/*-----------------FONT------------------*/


@font-face{
	font-family: callibrib;
	src: url(../fonts/calibri/calibrib.ttf);
}
@font-face{
	font-family: callibriit;
	src: url(../fonts/calibri/calibrii.ttf);
}
@font-face{
	font-family: callibri;
	src: url(../fonts/calibri/calibri.ttf);
}
@font-face{
    font-family: RobotoBold;
    src: url(../fonts/Roboto Slab/RobotoSlab-Bold.ttf);
}
@font-face{
    font-family: OpenSansRegular;
    src: url(../fonts/Open Sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: georgiait;
    src: url(../fonts/Georgia/georgiai.ttf);
}

@font-face{
    font-family: georgiaz.ttf;
    src: url(../fonts/Georgia/georgiaz.ttf);
}
@font-face{
    font-family: helveticaNeue.ttf;
    src: url(../fonts/Helvetica/HelveticaNeueLight.ttf);
}
@font-face{
    font-family: helveticaNeueBold.ttf;
    src: url(../fonts/Helvetica/helvetica-neue-bold.ttf);
}





/*------------------------------------------*/
/*--------------------HEADER----------------*/



.wrapper
{
	margin:0 auto;
	width:1024px;
	position: relative;
    clear: both;
}
header
{
	height: auto;
	float: left;
	margin-top: 10px;
	position: relative;
	width:100%;
}


#searchBox
{
	background-repeat: no-repeat;
	float: right;
	margin-top: 2%;
	background-image: url(../images/search_icon.png);
	background-position: 96% 34%; 
	border-radius: 8px;
	border: 2px solid #BFBF9E;
	height: 5%;
	clear:both;
}
#searchBox::-webkit-input-placeholder {
    font-family: 'callibri';
     }

#searchBox:-ms-input-placeholder {
    font-family: 'callibri';
}

#searchBox:-moz-placeholder {
    font-family: 'callibri';
}

#searchBox::-moz-placeholder {
    font-family: 'callibri';
}


#headerMenu
{
	margin-top: 3.5%;
	float:right;
	clear: both;
	width: 36%;
}
#headerMenu  a
{
	text-decoration: none;
	font-family:callibri;
	color:#5E5E52;
	font-size: 14px;
	
}
#headerMenu  li
{
	float:left;
	border-right: 0.25px solid #5E5E52;
    list-style-type: none;

	padding: 0 2%;
}
	 
.socialIcon_top

{
	margin-top:3%;
	float:right;
}
.socialIcon
{
	width: 33px;
	height: 31px;
}
#youtube
{
   background : url(../images/socialIcon_top.png) 386px 296px;	
}
#facebook
{
	background : url(../images/socialIcon_top.png) 354px 296px;
}
#instagram
{
	background: url(../images/socialIcon_top.png) 323px 296px;
}
#twitter
{
	background: url(../images/socialIcon_top.png) 289px 296px;
}
/*-------------------------------------------------*/


/*---------------TOP MENU-------------------------*/
#topMenu
{
	width: 1024px;
	margin-left: 0px;
	margin-top:5px; 
	background: url(../images/topmenu_bg.png);
    background-repeat: repeat;
    height: 50px;
    float:left;
    margin-bottom: 5px;
}
#topMenu > ul{
 float: left;
    position: relative;
}

.navLink
{
  	
  float: left;
  font-family:callibri !important; 
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 10px;
}
.navLink:hover{
    background: #323232;

}
.subMenu {
    display: none;
    
    list-style-type: none;
    position: absolute;
    top: 50px;
    z-index: 1;
    }
 .navMenu:hover > ul{
    display: block;

}
.navMenu 
{   border-right-color: #838383 !important;
    border-right-style: solid;
    border-right-width: 0.1px;
    float: left;
    list-style-type: none;
    
	
}

.subMenu > li {
    background: none repeat scroll 0 0 #323232;
    border-top: thin inset #7F8080;
    padding: 15px 5px;
}
.subMenu a {
    color: #FFFFFF;
    font-family: callibri;
    font-size: 13px;
    padding: 0 5px;
    text-decoration: none;
}
/*-----------------------------------------------*/

/*--------------SLIDER---------------------------*/
.imageSlider
{
    width: 1024px;
    margin:0 auto;
    height: 427px;
    position: relative;
    overflow: hidden;
    margin-bottom: 3px;
}
.sliderPicDescription
{
    background: -webkit-linear-gradient(left, #077EF8 , #0F9FFF); 
    background: -o-linear-gradient(right, #077EF8, #0F9FFF);
    background: -moz-linear-gradient(right, #077EF8,#0F9FFF);
    background: linear-gradient(to right, #077EF8 , #0F9FFF);
    float: left;
    height: 427px;
    padding: 18px 12px 0px 12px;
    width: 34.69%;
}
#sliderTitle
{
    font-family: RobotoBold;
    font-size: 34px;
    color: #FEFEFE;
}
.sliderPicDescription p
{
    font-family:OpenSansRegular;
    font-size: 16px;
    color: #FEFEFE;
}

.sliderPic
{
    height: 427px;
    width:62.16%;
}
#readMore
{
    
    font-family:OpenSansRegular;
    font-size: 16px;
    color: #FEFEFE;
    text-decoration: underline;
    -moz-text-decoration-color: #77C3F9;
    text-decoration-color: #77C3F9;
}

/*-------------------------------------------------------------*/



/*--------------NEWS,EVENTS,FEATURES---------------------------*/
#contentMain {
    width: 1024px;
    margin: 0 auto;
}

.mainHead {
     float: left;
     width: 333px;
     margin-right: 8px;
     padding: 5px 0;
}
.mainHead span {
    color: #191B1B;
    float: left;
    font-family: callibrib;
    font-size: 27px;
    padding: 10px 0;
}
.mainHead hr {
    background: none repeat scroll 0 0 #000000;
    float: right;
    height: 11px;
    margin-top: 14px;
    opacity: 0.1;
    width: 236px;
}
.contentImage{
    width: 333px;
    height: 223px;
    border: medium hidden #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
}
#contentMain a{
    
}
.moreClick {
    color: #FF6C00;
    float: right;
    font-family: callibriit;
    font-size: 14px;
    text-decoration: underline;
}
.moreClick img {
    float: left;
}
.description {
    border-bottom: medium dotted;
    color: #888888;
    font-family: callibriit;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 0;
}
.date {
    color: #888888;
    font-family: georgiait;
    font-size: 14px;
    text-decoration: none;
}
.date img {
    float: left;
}
.description2 {
    color: #888888;
    font-family: callibriit;
    font-size: 14px;
    padding: 10px 0;
}


/*--------------ALERTS,TESTIMONIALS,LEARNING---------------------------*/

.contentFirst
{
    border-top: 4px solid #0079F0;
    float: left;
    width:333px;
    margin-right: 8px;
    background-color:#00A0FA; 
    margin-bottom:5px;
    border-radius: 6px;
    margin-top:19px;
}
.contentMiddle
{
     margin-top:19px;
    border-top: 4px solid #00A0FA;
    float: left;
    width:333px;
    margin-right: 8px;
    background-color:#0079F0;
    margin-bottom:5px;
    border-radius: 6px; 
}


.iconImage
{
   margin-top:7px;
  float: left;
  margin-left: 3px;
}
.contentHeading
{
    margin-top:7px;
    float:left;
    font-size: 27px;
    font-family:callibri; 
    color: #ffffff;
}
.innerWrapper
{
    margin:50px 3px 9px 3px;
}
.innerContent
{
    width:315px;
    height: 105px;
    background-color: #0097E5;
    margin-bottom: 8px;
    margin-left: 6px;
    margin-top: 8px;
    border-radius: 3px;
}
.innerContent2
{
    width:315px;
    height: 105px;
    background-color: #009AFA;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-top: 8px;
    border-radius: 3px;
}
.innerDivPicSummary
{
    float:left;
}
.innerDivPic
{
    width:83px;
    height: 83px;
    margin:10px;
    float: left;
}
#innerDivHeading
{
   font-family:  georgiaz.ttf;
   font-size:14px; 
   color: #ffffff;
}
#innerDivDescription
{
    font-family: helveticaNeue.ttf;
    font-size: 11px;
    color: #ffffff;

}
#innerDiv2Description
{
    font-family: helveticaNeueBold.ttf;
    font-size: 13px;
    color: #ffffff;

}
#imageWrapper
{
    position: relative;
}
#videoPlay
{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/*------------BOTTOM BANNER-----------------------*/
 #firstBanner
 {
    float: left;
    width:29.39%;
    height: 99px;
    background-color: #FF922C;
    margin-right: 8px;
    margin-bottom: 29px;
    margin-top: 31px;
    border-radius: 4px;
    padding:16px;
    z-index: -1;
    position: relative;
 
 }
 #secondBanner
 {
    float: left;
    width:29.39%;
    height: 99px;
    background: -webkit-linear-gradient( #F6421B,#CD3916);
    background: -o-linear-gradient( #F6421B,#CD3916); 
    background: -moz-linear-gradient( #F6421B,#CD3916); 
    background: linear-gradient( #F6421B,#CD3916);
    margin-right: 8px;
    margin-bottom: 29px;
    margin-top: 31px;
    border-radius: 4px;
    padding:16px;
    z-index: -1;
    position: relative;
 }
 #thirdBanner
 {
    float: left;
    width:29.39%;
    height: 99px;
    background: -webkit-linear-gradient( #00C0ED,#00ABD1);
    background: -o-linear-gradient( #00C0ED,#00ABD1); 
    background: -moz-linear-gradient(#00C0ED,#00ABD1); 
    background: linear-gradient( #00C0ED,#00ABD1);
    margin-right: 8px;
    margin-bottom: 29px;
    margin-top: 31px;
    border-radius: 4px;
    padding:16px;
    z-index: -1;
    position: relative;
 
 }
 #bannerHeading 
 {
   text-decoration: none;
   font-family:callibrib;
   font-size: 36px; 
   color: #ffffff;

 }

.bottomBannerImage
{
    float:right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}







/*------------FOOTER-----------------------------*/
* {
    margin: 0;
    padding: 0;
}
#foot {
    background-color: #3A3A3A;
    float: left;
    width: 100%;
}
.footTitle {
    font-family: callibrib;
    font-size: 18px;
}
#otherNav{
	padding: 0 15px;
}
#title{
	margin: 0 auto;
    width: 1024px;
    
}
#about {
    float: left;
    padding: 10px 10px;
    font-size: 15px;
    font-family: callibriit;
}
#more{
    color: #FF9C31;
}
#other {
    float: left;
    padding: 10px 20px;
    font-size: 15px;
    font-family: callibriit;
}
#connect {
    float: left;
    padding: 10px 20px;
    font-size: 15px;
    font-family: callibriit;
}
.socialIcon {
    display: inline;
}
#yt {
    background-image: url("../images/socialIcon_bottom.png");
    padding: 6px 15px;
}
#fb {
    background-image: url("../images/socialIcon_bottom.png");
    background-position: -34px 0;
    padding: 6px 15px;
}
#in {
    background-image: url("../images/socialIcon_bottom.png");
    background-position: -66px 0;
    padding: 6px 15px;
}
#twt {
    background-image: url("../images/socialIcon_bottom.png");
    background-position: 29px 0;
    padding: 6px 15px;
}
#contact {
    float: left;
    padding: 10px 20px;
    font-size: 15px;
    font-family: callibriit;
}
#bottomFoot {
    background: none repeat scroll 0 0 #000000;
    float: left;
    padding: 10px 0;
    width: 100%;
    font-family: callibri;
    font-size: 13px;
}

#socialNav {
    margin-top: 10px;
}
#copyRight {
     margin-left: 140px;
    margin-right: 210px;
}
.bottomNav {
    padding: 0 30px;
}

footer {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}
/*----------------------------------------------*/
