
/*-----------------FONT------------------*/


@font-face{
	font-family: callibrib;
	src: url(../fonts/calibri/calibrib.ttf);
}
@font-face{
	font-family: callibriit;
	src: url(../fonts/calibri/calibrii.ttf);
}
@font-face{
	font-family: callibri;
	src: url(../fonts/calibri/calibri.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url('../fonts/Roboto Slab/RobotoSlab-Bold.eot?') format('eot'),
        url('../fonts/Roboto Slab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto Slab/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/Roboto Slab/RobotoSlab-Bold.ttf') format('truetype'),
        url('../fonts/Roboto Slab/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: OpenSansRegular;
    src: url(../fonts/Open Sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: georgiait;
    src: url(../fonts/Georgia/georgiai.ttf);
}

@font-face{
    font-family: georgiaz;
    src: url(../fonts/Georgia/georgiaz.ttf);
}
@font-face{
    font-family: helvetican;
    src: url(../fonts/Helvetica/HelveticaNeueLight.ttf);
}
@font-face{
    font-family: helveticanb;
    src: url(../fonts/Helvetica/helvetica-neue-bold.ttf);
}




/*---------------------------icon font--------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/font/fontello.eot');
  src: url('../fonts/fontello/font/fontello.eot') format('embedded-opentype'),
       url('../fonts/fontello/font/fontello.woff') format('woff'),
       url('../fonts/fontello/font/fontello.ttf') format('truetype'),
       url('../fonts/fontello/font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  
  font-variant: normal;
  text-transform: none;
     
  
  line-height: 1em;
 
  
  margin-left: .2em;
 
 
}
 
.icon-menu-1:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e80a'; } /* '' */

/*------------------------------------------*/
/*--------------------HEADER----------------*/


.wrapper
{
	margin:0 auto;
	width:1024px;
	position: relative;
    clear: both;
}
header
{
	height: auto;
	float: left;
	margin-top: 10px;
	position: relative;
	width:100%;
}


#searchBox
{
	background-repeat: no-repeat;
	float: right;
	margin-top: 2%;
	background-image: url(../images/search_icon.png);
	background-position: 96% 34%; 
	border-radius: 8px;
	border: 2px solid #BFBF9E;
	height: 5%;
	clear:both;
}
#searchBox::-webkit-input-placeholder {
    font-family: 'callibri';
     }

#searchBox:-ms-input-placeholder {
    font-family: 'callibri';
}

#searchBox:-moz-placeholder {
    font-family: 'callibri';
}

#searchBox::-moz-placeholder {
    font-family: 'callibri';
}


#headerMenu
{
	margin-top: 3.5%;
	float:right;
	clear: both;
	width: 36%;
}
#headerMenu  a
{
	text-decoration: none;
	font-family:callibri;
	color:#5E5E52;
	font-size: 14px;
	
}
#headerMenu  li
{
	float:left;
	border-right: 0.25px solid #5E5E52;
    list-style-type: none;

	padding: 0 2%;
}
	 
.socialIcon_top

{
	margin-top:3%;
	float:right;
}
.socialIcon
{
	width: 33px;
	height: 31px;
}
#youtube
{
   background : url(../images/socialIcon_top.png) 386px 296px;	
}
#facebook
{
	background : url(../images/socialIcon_top.png) 354px 296px;
}
#instagram
{
	background: url(../images/socialIcon_top.png) 323px 296px;
}
#twitter
{
	background: url(../images/socialIcon_top.png) 289px 296px;
}
/*-------------------------------------------------*/


/*---------------TOP MENU-------------------------*/
#topMenu
{
	width: 1024px;
	margin-left: 0px;
	margin-top:5px; 
	background: url(../images/topmenu_bg.png);
    background-repeat: repeat;
    height: 50px;
    float:left;
    margin-bottom: 5px;
}
#topMenu > ul{
 float: left;
    position: relative;
}

.navLink
{
  	
  float: left;
  font-family:callibri !important; 
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 10px;
}
.navLink:hover{
    background: #323232;

}
.subMenu {
    display: none;
    
    list-style-type: none;
    position: absolute;
    top: 50px;
    z-index: 1;
    }
 .navMenu:hover > ul{
    display: block;

}
.navMenu 
{   border-right-color: #838383 !important;
    border-right-style: solid;
    border-right-width: 0.1px;
    float: left;
    list-style-type: none;
    
	
}

.subMenu > li {
    background: none repeat scroll 0 0 #323232;
    border-top: thin inset #7F8080;
    padding: 15px 5px;
}
.subMenu a {
    color: #FFFFFF;
    font-family: callibri;
    font-size: 13px;
    padding: 0 5px;
    text-decoration: none;
}
/*-----------------------------------------------*/

/*--------------SLIDER---------------------------*/
.imageSlider
{
    width: 1024px;
    margin:0 auto;
    height: 427px;
    position: relative;
    overflow: hidden;
    margin-bottom: 3px;
}
.sliderPicDescription
{
    background: -webkit-linear-gradient(left, #077EF8 , #0F9FFF); 
    background: -o-linear-gradient(right, #077EF8, #0F9FFF);
    background: -moz-linear-gradient(right, #077EF8,#0F9FFF);
    background: linear-gradient(to right, #077EF8 , #0F9FFF);
    float: left;
    height: 427px;
    padding: 18px 12px 0px 12px;
    width: 34.69%;
}
#sliderTitle
{
    font-family: RobotoBold;
    font-size: 34px;
    color: #FEFEFE;
}
.sliderPicDescription p
{
    font-family:OpenSansRegular;
    font-size: 16px;
    color: #FEFEFE;
}

.sliderPic
{
    height: 427px;
    width:62.16%;
}
#readMore
{
    
    font-family:OpenSansRegular;
    font-size: 16px;
    color: #FEFEFE;
    text-decoration: underline;
    -moz-text-decoration-color: #77C3F9;
    text-decoration-color: #77C3F9;
}

/*-------------------------------------------------------------*/



/*--------------NEWS,EVENTS,FEATURES---------------------------*/
#contentMain {
    width: 1024px;
    margin: 0 auto;
}

.mainHead {
     float: left;
     width: 333px;
     margin-right:12px;
     padding: 5px 0;
     position: relative;
}
.mainHead:last-child {
    margin-right: 0;
}
.mainHead span {
    color: #191B1B;
    float: left;
    font-family: callibrib;
    font-size: 27px;
    padding: 10px 0;
    text-decoration: none;
}

.mainHead hr {
    background: none repeat scroll 0 0 #000000;
    float: right;
    height: 12px;
    margin-top: 11px;
    opacity: 0.1;
    width: 234px;
}
.contentImage{
    width: 333px;
    height: 223px;
    border: medium hidden #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
}
.strip {
    background: none repeat scroll 0 0 #3f3f3f;
    height: 10px;
    position: absolute;
    top: 17px;
    width: 98%;
    z-index: -1;
}
.moreClick {
    color: #FF6C00;
    float: right;
    font-family: callibriit;
    font-size: 14px;
    text-decoration: underline;
}
.moreClick img {
    float: left;
}
.description {
    border-bottom: medium dotted;
    color: #888888;
    font-family: callibriit;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 0;
}
.date {
    color: #888888;
    font-family: georgiait;
    font-size: 14px;
    text-decoration: none;
}
.date img {
    float: left;
}
.description2 {
    color: #888888;
    font-family: callibriit;
    font-size: 14px;
    padding: 10px 0;
}


/*--------------ALERTS,TESTIMONIALS,LEARNING---------------------------*/

.contentFirst
{
    border-top: 4px solid #0079F0;
    float: left;
    width:333px;
    margin-right: 8px;
    background-color:#00A0FA; 
    margin-bottom:5px;
    border-radius: 6px;
    margin-top:19px;
}
.contentMiddle
{
     margin-top:19px;
    border-top: 4px solid #00A0FA;
    float: left;
    width:333px;
    margin-right: 8px;
    background-color:#0079F0;
    margin-bottom:5px;
    border-radius: 6px; 
}


.iconImage
{
   margin-top:7px;
  float: left;
  margin-left: 3px;
}
.contentHeading
{
    margin-top:7px;
    float:left;
    font-size: 27px;
    font-family:callibri; 
    color: #ffffff;
    text-decoration: none;
}
.innerWrapper
{
    margin:50px 3px 9px 3px;
}
.innerContent
{
    width:315px;
    height: 105px;
    background-color: #0097E5;
    margin-bottom: 8px;
    margin-left: 6px;
    margin-top: 8px;
    border-radius: 3px;
}
.innerContent2
{
    width:315px;
    height: 105px;
    background-color: #009AFA;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-top: 8px;
    border-radius: 3px;
}
.innerDivPicSummary
{
    float:left;
}
.innerDivPic
{
    width:83px;
    height: 83px;
    margin:10px;
    float: left;
}
#innerDivHeading {
    color: #FCFEE9;
    font-family: georgiaiaz;
    font-size: 14px;
}
#innerDivDescription
{
    font-family: helveticaNeue.ttf;
    font-size: 11px;
    color: #ffffff;

}
#innerDiv2Description
{
    font-family: helveticaNeueBold.ttf;
    font-size: 13px;
    color: #ffffff;

}
#imageWrapper
{
    position: relative;
}
#videoPlay
{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/*------------BOTTOM BANNER-----------------------*/
 #firstBanner
 {
    float: left;
    width:29.39%;
    height: 99px;
    background-color: #FF922C;
    margin-right: 8px;
    margin-bottom: 29px;
    margin-top: 31px;
    border-radius: 4px;
    padding:16px;
    z-index: -1;
    position: relative;
 
 }
 #secondBanner
 {
    float: left;
    width:29.39%;
    height: 99px;
    background: -webkit-linear-gradient( #F6421B,#CD3916);
    background: -o-linear-gradient( #F6421B,#CD3916); 
    background: -moz-linear-gradient( #F6421B,#CD3916); 
    background: linear-gradient( #F6421B,#CD3916);
    margin-right: 8px;
    margin-bottom: 29px;
    margin-top: 31px;
    border-radius: 4px;
    padding:16px;
    z-index: -1;
    position: relative;
 }
 #thirdBanner
 {
    float: left;
    width:29.39%;
    height: 99px;
    background: -webkit-linear-gradient( #00C0ED,#00ABD1);
    background: -o-linear-gradient( #00C0ED,#00ABD1); 
    background: -moz-linear-gradient(#00C0ED,#00ABD1); 
    background: linear-gradient( #00C0ED,#00ABD1);
    margin-right: 8px;
    margin-bottom: 29px;
    margin-top: 31px;
    border-radius: 4px;
    padding:16px;
    z-index: -1;
    position: relative;
 
 }
 #bannerHeading 
 {
   text-decoration: none;
   font-family:callibrib;
   font-size: 36px; 
   color: #ffffff;

 }

.bottomBannerImage
{
    float:right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}







/*------------FOOTER-----------------------------*/
* {
    margin: 0;
    padding: 0;
}
#foot {
    background-color: #3A3A3A;
    float: left;
    width: 100%;
}
.footTitle {
    font-family: callibrib;
    font-size: 18px;
}
#otherNav{
	padding: 0 15px;
}
#title{
	margin: 0 auto;
    width: 1024px;
    
}
#about {
    float: left;
    padding: 10px 15px;
    font-size: 15px;
    font-family: callibriit;
    margin-top: 10px;
}
#more{
    color: #FF9C31;
}
#other {
    float: left;
    padding: 10px 15px;
    font-size: 15px;
    font-family: callibriit;
    margin-top: 10px;
}
#connect {
    float: left;
    padding: 10px 15px;
    font-size: 15px;
    font-family: callibriit;
    margin-top: 10px;
}
.socialIcon {
    display: inline;
}
#yt {
    background-image: url("../images/socialIcon_bottom.png");
    padding: 7px 15px;
}
#fb {
    background-image: url("../images/socialIcon_bottom.png");
    background-position: -34px 0;
    padding: 7px 15px;
}
#in {
    background-image: url("../images/socialIcon_bottom.png");
    background-position: -66px 0;
    padding: 7px 15px;
}
#twt {
    background-image: url("../images/socialIcon_bottom.png");
    background-position: 29px 0;
    padding: 7px 15px;
}
#contact {
    float: left;
    padding: 10px 15px;
    font-size: 15px;
    font-family: callibriit;
    margin-top: 10px;
}
#bottomFoot {
    background: none repeat scroll 0 0 #000000;
    float: left;
    padding: 10px 0;
    width: 100%;
    font-family: callibri;
    font-size: 13px;
}

#socialNav {
    margin-top: 10px;
}
#copyRight {
    margin-left: 310px;
    margin-right: 285px;
}
.bottomNav {
    padding: 0 30px;
}

footer {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}
/*----------------------------------------------*/

/*-----------------------only for mobile-----------------------*/


@media only screen and (min-width: 320px)and (max-width:480px){

#mainWrapper{
    margin: 0 10px;
}

.sliderPic {
    float: left;
    height: 10%;
    width: 100%;
}
#headLogo{
    width: 80%;
    float:left;
}
#searchLogo{
    float: left;
    border: 1px ridge #C4C4C4;
}
.icon-menu-1{
      float: right;
    margin-right: 5px;
    border: 1px ridge #C4C4C4;
    padding: 1px;
}
.imageSlider {
    float: left;
    height: 100%;
    margin: 0 auto ;
    overflow: hidden;
    width: 100%;
}
.sliderPicDescription {
    background: linear-gradient(to right, #077EF8, #0F9FFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 100%;
    padding: 3px;
    width: 100%;
}
#sliderTitle {
    color: #FEFEFE;
    font-family: RobotoBold;
    font-size: 18px;
}
.sliderPicDescription p {
    color: #FEFEFE;
    font-family: OpenSansRegular;
    font-size: 10px;
}

.mainHead {
    padding: 0;
    position: relative;
    width: 100%;
}
.mainHead span {
    color: #191B1B;
    float: left;
    font-family: callibrib;
    background: white;
    padding: 10px 0;
    text-decoration: none;
    font-size: 20px;
}
.mainHead hr {
    background: none repeat scroll 0 0 #000000;
    float: right;
    height: 11px;
    margin-top: 12px;
    opacity: 0.1;
    width: 234px;
}
#contentMain {
    float: left;
    width: 100%;
}
.contentImage {
    border: medium hidden #FFFFFF;
    border-radius: 5px;
    clear: both;
    display: block;
    float: left;
    height: 10%;
    padding: 0;
    width: 30%;
}
.description {
    border: medium none;
    color: #888888;
    float: left;
    font-family: callibriit;
    font-size: 10px;
    padding: 0;
    margin: 0 5px;
    width: 66%;
}.date {
    float: left;
    font-size: 12px;
}
.strip {
    background: none repeat scroll 0 0 #3f3f3f;
    height: 10px;
    position: absolute;
    top: 17px;
    width: 98%;
    z-index: -1;
}
.moreClick {
    color: #FF6C00;
    float: right;
    font-family: callibriit;
    font-size: 10px;
    padding: 10px;
    text-decoration: underline;
}
.innerWrapper {
    margin: 30px 0 0;
    padding: 0;
}

.innerContent {
    background-color: #0097E5;
    border-radius: 3px;
    height: 100%;
    padding: 12px 0;
    width: 100%;
    margin: 0 auto;
}
.innerDivPic {
    float: left;
    height: 2%;
    margin: 10px;
    width: 10%;
}
.innerDivHeading {
    color: #FCFEE9;
    font-family: georgiaiaz;
    font-size: 10px;
}.innerDivDescription {
    color: #FFFFFF;
    font-size: 8px;
    width: 100%;
}.contentHeading {
    color: #FFFFFF;
    float: left;
    font-family: callibri;
    font-size: 15px;
    margin-top: 7px;
    text-decoration: none;
}.iconImage {
    float: left;
    margin-left: 3px;
    margin-top: 7px;
}.contentFirst {
    background-color: #00A0FA;
    border-radius: 6px;
    border-top: 4px solid #0079F0;
    float: left;
    width: 100%;
    margin: 5px 0;
}
#firstBanner {
    background-color: #FF922C;
    border-radius: 4px;
    float: left;
    padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: -1;
    height: 100%;
    margin:10px 0 10px 0px;
}
#secondBanner {
    background: linear-gradient(#F6421B, #CD3916) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    float: left;
    height: 10%;
    margin:10px 0 10px 0px;
   padding: 10px 0;
    position: relative;
    width:100%;
    z-index: -1;
}
#bannerHeading {
    color: #FFFFFF;
    font-family: callibrib;
    font-size: 20px;
    text-decoration: none;
}
#thirdBanner {
    background: linear-gradient(#00C0ED, #00ABD1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    float: left;
    height: 100%;
    margin:10px 0 10px 0px;
   padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: -1;
}
.bottomBannerImage {
    bottom: 0;
    position: absolute;
    right: 5%;
    width: 15%;
}
/* -----------------footer css*/
#foot {
    background-color: #3A3A3A;
    float: left;
    width: 100%;
    margin: 0 auto;
}
.footTitle {
    font-family: callibrib;
    font-size: 12px;
}
#otherNav {
    padding: 0 15px;
}
#title {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

#bottomFoot h5 {
    font-size: 8px;
    text-align: center;
    width: 100%;
}
#topFooter {
    width: 100%;
}
#about {
    float: left;
    font-family: callibriit;
    font-size: 12px;
    padding: 2% 0;
    width: 65%;
}
#more {
    color: #FF9C31;
}
#other {
    border-left: thin solid #858484;
    float: left;
    font-family: callibriit;
    font-size: 12px;
    padding: 2% 0;
    width: 30%;
}
#connect {
    float: left;
    font-family: callibriit;
    font-size: 12px;
    padding: 2% 0;
    width: 38%;
}
.socialIcon {
    display: inline;
}
#contact {
    border-left: thin solid #969696;
    float: left;
    font-family: callibriit;
    font-size: 12px;
    padding: 2% 0;
    width: 58%;
}
#bottomFoot {
    background: none repeat scroll 0 0 #000000;
    float: left;
    font-family: callibri;
    font-size: 13px;
    padding: 10px 0;
    width: 100%;
}
#socialNav {
    margin-top: 10px;
}
#copyRight {
    float: left;
    padding-left: 1%;
    width: 100%;
    margin: 0;
}
#bottomNav {
    float: left;
    width: 100%;
}
#bottomNav span {
    margin-right: 5%;
    font-size: 10px;
}
footer {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    
}